<table>
     <tr>
        <th>予約した部屋</th>
        <!--<th>%= @rooms.room_name %></th>-->
     </tr>
     
     <tr>
        <th>開始日</th>
        <!--<th>%= @rooms.begin_day.strftime("%Y年 %m月 %d日") %></th>-->
     </tr>
     
     <tr>
        <th>終了日</th>
        <!--<th>%= @rooms.finish_day.strftime("%Y年 %m月 %d日") %></th>-->
     </tr>
     
     <tr>
        <th>価格</th>
        <!--<th>% if @rooms.%></th>-->
     </tr>
     
     </table>