// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.room-frame-inner {
    border: 1px solid #e2e2e2;
    margin-bottom: 10px;
}

.room-image {
    width: 100%;
    height: 180px;
    position: absolute;
    top: 20px;
    object-fit: cover;
}
